<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="keywords" content="Classic Responsive web template" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
	<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="~/Scripts/move-top.js"></script>
		<script type="text/javascript" src="~/Scripts/easing.js"></script>
		<script type="text/javascript">
		    jQuery(document).ready(function ($) {
		        $(".scroll").click(function (event) {
		            event.preventDefault();
		            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
		        });
		    });
		</script>

    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <!-- banner -->
    <div class="banner page-head" style="height:300px">
        <div class="container">
            <div class="header-nav">
                <div class="logo">
                    <h1><a href="/Home/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>eventTech</a></h1>
                </div>
                <div class="navigation">
                    <span class="menu"><img src="~/Images/menu.png" alt="" /></span>
                    <nav class="cl-effect-11" id="cl-effect-11">
                        <ul class="nav1">
                            <li><a href="/Home/Index" data-hover="HOME">HOME</a></li>
                            <li><a href="/Home/About" data-hover="ABOUT">ABOUT</a></li>
                            <li><a href="/Company/Index" data-hover="Registration">Registration</a></li>
                            @*<li><a href="booking.html" data-hover="BOOKING">BOOKING</a></li>*@
                            <li><a href="#" data-hover="CONTACT">CONTACT</a></li>
                            <li><a href="/Client/Login" data-hover="Login">Login</a></li>
                        </ul>
                    </nav>
                    <!-- script for menu -->
                    <script>
                        $("span.menu").click(function () {
                            $("ul.nav1").slideToggle(300, function () {
                                // Animation complete.
                            });
                        });
                    </script>
                    <!-- //script for menu -->

                </div>
                <div class="social-icons">
                    @if (Session["username"] != null)
                    {
                        <span class="f1" style="font-size:15px;color:white; margin-top:5px;">@Session["username"]</span>
                       <span>@Html.ActionLink("Logout", "Logout", "Client","Home", new { @class = "f" })</span>
                    }
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    @RenderBody()

    <div class="footer">
        <div class="container">
            <div class="col-md-3 ftr_navi ftr">
                <h3>NAVIGATION</h3>
                <ul>
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/Home/About">About</a></li>
                    <li><a href="typography.html">Services</a></li>
                    <li><a href="booking.html">Booking</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr_navi ftr">
                <h3>FACILITIES</h3>
                <ul>
                    <li><a href="#">Double bedrooms</a></li>
                    <li><a href="#">Single bedrooms</a></li>
                    <li><a href="#">Royal facilities</a></li>
                    <li><a href="#">Connected rooms</a></li>
                </ul>
            </div>
            <div class="col-md-3 ftr_navi ftr">
                <h3>GET IN TOUCH</h3>
                <ul>
                    <li>Ola-ola street jump,</li>
                    <li>260-14 City, Country</li>
                    <li>+62 000-0000-00</li>
                </ul>
            </div>
            <div class="col-md-3 ftr-logo">
                <a href="/Home/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>eventTech</a>
                <ul>
                    <li><a href="https:/www.facebook.com" class="f1"> </a></li>
                    <li><a href="https:/twitter.com" class="f2"> </a></li>
                    <li><a href="https://accounts.google.com/" class="f3"> </a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--footer-->
    <!-- copy -->
    <div class="copy-right">
        <div class="container">
            <p> &copy; 2016 eventTech. All Rights Reserved </p>
        </div>
    </div>
    <!-- //copy -->
    <!-- for bootstrap working -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
