@model eventTech.Models.Company

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="row" style="background-color:indianred">
<div class="col-md-3"></div>
    <div class="col-md-6">
<h2>Edit Company</h2><br />
     @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
        <span>Name: </span><input type="text" value="@Model.Name" name="Name" /><br /><br />
        <span>Email: </span><input type="text" value="@Model.Email" name="Email" /><br /><br />
        <span>License No.: </span><input type="text" value="@Model.License" name="License" /><br /><br />
        <span>Phone No.: </span><input type="text" value="@Model.Phone" name="Phone" /><br /><br />
        <span>City: </span><input type="text" value="@Model.City" name="City" /><br /><br />
        <span>Organizer Id: </span><input type="text" value="@Model.OrganizerId" name="OrganizerId" /><br /><br />*@
<div class="row" style="background-color:indianred">
    <div class="col-md-3"></div>
    <div class="col-md-6">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        

        @Html.HiddenFor(model => model.CompanyId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div><br />

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.License)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.License)
            @Html.ValidationMessageFor(model => model.License)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrganizerId, "Organizer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("OrganizerId", String.Empty)
            @Html.ValidationMessageFor(model => model.OrganizerId)
        </div>
            <input type="submit" value="Save" />
        
     }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</div>
<div class="col-md-3"></div>