@model eventTech.Models.Company

@{
    ViewBag.Title = "SearchCompanyDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Company Details</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.License)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.License)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Organizer.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Organizer.FirstName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Back to list", "SearchCompanies")
</p>
